// Mixins.

@mixin nl {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style: none;
    list-style-position: outside;
}

@mixin cf {
    &:before,
    &:after {
        display: table;
        content: "";
    }

    &:after {
        clear: both;
    }

    .lt-ie8 & {
        zoom: 1;
    }
}

@mixin blocks-justify {
    text-align: justify;
    text-justify: newspaper;
}

// You can add your own mixins here:

@mixin mq($media) {
  @if $media == mobile {
    @media only screen and (max-width: $mobile - 1) {
      @content;
    }
  }
  @else if $media == tablet {
    @media only screen and (max-width: $tablet - 1) {
      @content;
    }
  }
  @else if $media == desktop {
    @media only screen and (max-width: $desktop - 1) {
      @content;
    }
  }
}