mixin publicity(data)
	article.publicity
		.container
			h1.publicity__title
				spah.publicity__title-part
					| Открываем мир
				| вместе с Трансаэро
			p.publicity__text Почувствуйте комфорт современного Boeing 747-300